@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap");
section.contact {
  margin-top: 100px;
  min-height: 70vh; }
  section.contact .responsive {
    height: 100%;
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    section.contact .responsive > img {
      margin: 50px 0;
      width: 50%; }
      @media (max-width: 900px) {
        section.contact .responsive > img {
          width: 80%; } }
    section.contact .responsive div.info {
      width: 50%; }
      @media (max-width: 900px) {
        section.contact .responsive div.info {
          width: 80%; } }
      section.contact .responsive div.info .pair {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        margin-bottom: 30px; }
        section.contact .responsive div.info .pair .icon {
          width: 25%;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: center;
              -ms-flex-pack: center;
                  justify-content: center;
          -webkit-box-align: center;
              -ms-flex-align: center;
                  align-items: center; }
          section.contact .responsive div.info .pair .icon img {
            width: 80%; }
        section.contact .responsive div.info .pair .description {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: center;
              -ms-flex-pack: center;
                  justify-content: center;
          -webkit-box-align: center;
              -ms-flex-align: center;
                  align-items: center;
          width: 75%;
          text-align: center; }
          @media (max-width: 400px) {
            section.contact .responsive div.info .pair .description {
              font-size: 12px; } }

body, h1, ul {
  margin: 0;
  padding: 0; }

a {
  text-decoration: none;
  color: black; }

body {
  background-color: white; }

header {
  z-index: 200;
  background-color: white;
  height: 100px;
  position: fixed;
  top: 0;
  width: 100%;
  -webkit-box-shadow: 0 2px 11px 5px #ebebeb;
          box-shadow: 0 2px 11px 5px #ebebeb; }
  header .responsive {
    margin: auto;
    height: 100px;
    width: 100%;
    max-width: 1200px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    header .responsive .logo img {
      height: 80px; }
      @media (max-width: 600px) {
        header .responsive .logo img {
          height: 50px; } }
    header .responsive div.mobile-btn {
      display: none; }
      @media (max-width: 900px) {
        header .responsive div.mobile-btn {
          display: inline; } }
      header .responsive div.mobile-btn img {
        height: 50px;
        margin-right: 10px; }
        @media (max-width: 600px) {
          header .responsive div.mobile-btn img {
            height: 30px; } }
    header .responsive nav.standard {
      display: inline; }
      @media (max-width: 900px) {
        header .responsive nav.standard {
          display: none; } }
      header .responsive nav.standard ul {
        list-style-type: none;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center; }
        header .responsive nav.standard ul li {
          margin-right: 20px; }
          header .responsive nav.standard ul li a {
            color: #36291b;
            text-decoration: none;
            font-size: 20px;
            -webkit-transition-duration: 0.7s;
                    transition-duration: 0.7s; }
            header .responsive nav.standard ul li a:hover {
              color: #96581a; }
  header nav.mobile {
    display: none; }
    header nav.mobile ul {
      list-style-type: none;
      width: 100%; }
      header nav.mobile ul a {
        color: #36291b;
        text-decoration: none;
        font-size: 20px;
        -webkit-transition-duration: 0.7s;
                transition-duration: 0.7s;
        width: 100%; }
        header nav.mobile ul a:hover {
          color: #96581a; }
        header nav.mobile ul a li {
          width: 100%;
          height: 40px;
          background: white;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: center;
              -ms-flex-pack: center;
                  justify-content: center;
          -webkit-box-align: center;
              -ms-flex-align: center;
                  align-items: center; }

main {
  font-family: "Raleway", sans-serif; }
  main section.presentation {
    width: 100%;
    margin-top: 100px;
    height: 600px;
    background-image: url("../img/background-max.jpg");
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover; }
    main section.presentation .responsive {
      margin: auto;
      width: 100%;
      max-width: 1200px;
      height: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
      @media (max-width: 1200px) {
        main section.presentation .responsive {
          -webkit-box-pack: center;
              -ms-flex-pack: center;
                  justify-content: center; } }
      main section.presentation .responsive .information {
        color: #534b43;
        background: rgba(255, 255, 255, 0.8);
        height: 70%;
        width: 35%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: space-evenly;
            -ms-flex-pack: space-evenly;
                justify-content: space-evenly;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center; }
        @media (max-width: 1200px) {
          main section.presentation .responsive .information {
            height: 80%;
            width: 55%; } }
        @media (max-width: 600px) {
          main section.presentation .responsive .information {
            width: 80%; } }
        main section.presentation .responsive .information h1 {
          font-size: 2.5em;
          letter-spacing: 6px;
          font-family: "Bebas Neue", cursive; }
          @media (max-width: 600px) {
            main section.presentation .responsive .information h1 {
              font-size: 1.5em; } }
        main section.presentation .responsive .information p {
          font-size: 19px;
          text-align: justify;
          width: 70%; }
          @media (max-width: 600px) {
            main section.presentation .responsive .information p {
              font-size: 15px; } }
  main section.tasks {
    width: 100%;
    height: 400px; }
    @media (max-width: 900px) {
      main section.tasks {
        height: 400px; } }
    @media (max-width: 600px) {
      main section.tasks {
        height: auto;
        padding: 20px 0; } }
    main section.tasks .responsive {
      height: 100%;
      width: 100%;
      max-width: 1200px;
      margin: auto;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      -webkit-box-pack: space-evenly;
          -ms-flex-pack: space-evenly;
              justify-content: space-evenly;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
      @media (max-width: 900px) {
        main section.tasks .responsive {
          font-size: 10px; } }
      @media (max-width: 600px) {
        main section.tasks .responsive {
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
              -ms-flex-direction: column;
                  flex-direction: column; } }
      main section.tasks .responsive .task {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -ms-flex-pack: distribute;
            justify-content: space-around;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        width: calc( 100% / 3  );
        height: 80%; }
        @media (max-width: 900px) {
          main section.tasks .responsive .task {
            height: 50%; } }
        @media (max-width: 900px) {
          main section.tasks .responsive .task {
            width: 70%; } }
        main section.tasks .responsive .task h1 {
          text-align: center;
          color: white; }
        main section.tasks .responsive .task img {
          width: 50%; }
          @media (max-width: 900px) {
            main section.tasks .responsive .task img {
              width: 60%; } }
  main section.tails {
    width: 100%;
    height: 1200px;
    background: url("../img/back.jpg") no-repeat fixed bottom;
    background-size: cover; }
    @media (max-width: 900px) {
      main section.tails {
        height: 1800px; } }
    main section.tails .backdrop {
      -webkit-backdrop-filter: blur(3px);
              backdrop-filter: blur(3px);
      width: 100%;
      height: 100%; }
      main section.tails .backdrop .responsive {
        height: 100%;
        width: 100%;
        max-width: 1200px;
        margin: auto;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -ms-flex-pack: distribute;
            justify-content: space-around; }
        main section.tails .backdrop .responsive .card {
          width: 90%;
          border: 2px solid #36291b;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: horizontal;
          -webkit-box-direction: normal;
              -ms-flex-direction: row;
                  flex-direction: row;
          -webkit-box-align: center;
              -ms-flex-align: center;
                  align-items: center;
          height: 250px; }
          @media (max-width: 900px) {
            main section.tails .backdrop .responsive .card {
              -webkit-box-orient: vertical;
              -webkit-box-direction: normal;
                  -ms-flex-direction: column;
                      flex-direction: column;
              -webkit-box-align: normal;
                  -ms-flex-align: normal;
                      align-items: normal;
              width: 50%;
              font-size: 13px;
              height: 600px; } }
          @media (max-width: 600px) {
            main section.tails .backdrop .responsive .card {
              width: 80%; } }
          main section.tails .backdrop .responsive .card div {
            height: 100%; }
            @media (max-width: 900px) {
              main section.tails .backdrop .responsive .card div {
                width: 100%; } }
          main section.tails .backdrop .responsive .card .image {
            width: 25%; }
            @media (max-width: 900px) {
              main section.tails .backdrop .responsive .card .image {
                width: 100%; } }
          main section.tails .backdrop .responsive .card .description {
            width: 50%;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
            text-align: center;
            -webkit-box-pack: center;
                -ms-flex-pack: center;
                    justify-content: center;
            background: white; }
            @media (max-width: 900px) {
              main section.tails .backdrop .responsive .card .description {
                width: 100%; } }
          main section.tails .backdrop .responsive .card .btn-block {
            width: 25%;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: center;
                -ms-flex-pack: center;
                    justify-content: center;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
            background: white; }
            @media (max-width: 900px) {
              main section.tails .backdrop .responsive .card .btn-block {
                width: 100%; } }
            main section.tails .backdrop .responsive .card .btn-block a {
              height: 40px; }
              @media (max-width: 900px) {
                main section.tails .backdrop .responsive .card .btn-block a {
                  width: 80%;
                  height: 50px; } }
          main section.tails .backdrop .responsive .card #img1 {
            background: url("../img/card1.jpg") right;
            background-size: cover; }
          main section.tails .backdrop .responsive .card #img2 {
            background: url("../img/card2.jpg") left;
            background-size: cover; }

footer {
  width: 100%;
  background: #272727; }
  footer .responsive {
    width: 100%;
    height: 100%;
    max-width: 1200px;
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row; }
    @media (max-width: 1800px) {
      footer .responsive {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center; } }
    footer .responsive .card {
      width: 25%;
      height: 200px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      color: #939393;
      font-size: 17px;
      font-family: sans-serif;
      letter-spacing: 2px; }
      @media (max-width: 1800px) {
        footer .responsive .card {
          width: 100%;
          height: 100px; } }
    footer .responsive #author {
      background: #171717; }

.btn-my {
  background: #96581a;
  color: white;
  height: 40px;
  width: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 20px;
  -webkit-transition-duration: 0.7s;
          transition-duration: 0.7s; }
  .btn-my:hover {
    background: #534b43; }

/*# sourceMappingURL=style.css.map */